html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:$font-family;
    font-display: swap;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: $white;
    background-color: $midnight-green;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
h1, h2 {
    font-weight: 500;
    color: $text-color;
}